{{!-- Email subscribe form at the bottom of the page --}}
{{#if @labs.subscribers}}
<section class="mt4 pv3 pv4-m ph3-m ph4-l bt b--yk-blue bw2">
  <div class="flex-m flex-wrap-m">
    <div class="w-60-m pr4-m flex flex-column justify-center">
      <h2 class="mt2 mb2 pastel-blue lh-title">Free Diagnostic</h2>
      <p class="mv2">Take a free 30-minute consultation to asses your vision and goals, after which you will:</p>
      <ul class="mt2 f6">
        <li>better understand you product challenges</li>
        <li>see possible outcomes and how to reach them</li>
        <li>get pricing guidance for your design project.</li>
      </ul>
    </div>
    <div class="w-40-m flex flex-column justify-center">
      <h3 class="mt3 normal pastel-blue">Let’s get started</h3>
      <p><a href="https://calendly.com/matthewmorek/30min" onclick="Calendly.showPopupWidget('https://calendly.com/matthewmorek/30min');return false;" class="btn btn-primary" data-event="Click: Book Consultation">Book your consultation &rarr;</a></p>
      <p class="pastel-blue f7 lh-solid">Events are added directly to my calendar.</p>
    </div>
  </div>
</section>
{{/if}}
