{{!-- Email subscribe form at the bottom of the page --}}
{{#if @labs.subscribers}}
<section class="pv3 pv4-ns bt b--charcoal bw2">
  <div class="ml-auto mr-auto mw7 ph4 ph5-m flex-m flex-wrap-m">
    <div class="w-60-m pr4-m flex flex-column justify-center">
      <h2 class="mb2 pastel-blue">Free Diagnostic</h2>
      <p class="mv2">Take a free 30-minute consultation to asses your vision and goals, after which you will:</p>
      <ul class="mt2">
        <li>better understand you product challenges</li>
        <li>possible outcomes and how to reach them</li>
        <li>get pricing guidance for your design project.</li>
      </ul>
    </div>
    <div class="w-40-m flex flex-column justify-center">
      <h3 class="normal">Let’s get started</h3>
      <p><a href="#" onclick="Calendly.showPopupWidget('https://calendly.com/matthewmorek/30min');return false;" class="btn btn-primary">Book your consultation &rarr;</a></p>
      <p class="titanium f7">Bookings are made directly to my calendar.</p>
    </div>
  </div>
</section>
{{/if}}
