{{!-- Email subscribe form at the bottom of the page --}}
{{#if @labs.subscribers}}
<section class="pv3 pv4-ns bt b--charcoal bw2">
  <div class="ml-auto mr-auto mw7 ph4 ph5-m flex-m flex-wrap-m">
    <div class="w-60-m pr4-m flex flex-column justify-center">
      <h2 class="mt3 mb2 pastel-blue">Get a free 1-on-1</h2>
      <p class="mv2">Take a free 30-minute consultation to discuss your project, after which you will:</p>
      <ul class="mt2">
        <li>better understand your project challenges</li>
        <li>see possible outcomes and how to reach them</li>
        <li>get pricing guidance for any work discussed.</li>
      </ul>
    </div>
    <div class="w-40-m flex flex-column justify-center">
      <h3 class="mt3 normal pastel-blue">Let’s get started</h3>
      <p><a href="#" onclick="Calendly.showPopupWidget('https://calendly.com/madbitco/30min');return false;"
          class="btn btn-primary" data-event="Click: Book Consultation">Book your consultation &rarr;</a></p>
      <p class="pastel-blue f7">Events are added directly to my calendar.</p>
    </div>
  </div>
</section>
{{/if}}
