<header class="sidebar bb b--charcoal mw5-m flex-m flex-column justify-between vh-100-m">
  <nav class="w-100 ph3">
    <div>
      <a href="{{@blog.url}}" class="flex flex-column-m items-center tc no-underline charcoal pv2" data-event="Header: Clicked Logo">
        <svg class="db w2 w3-m" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
          <g fill="none" fill-rule="evenodd" transform="matrix(-1 0 0 1 480 114)">
            <path d="m0 0h128l160.301 284h-128z" fill="#8c9ea9"/>
            <path d="m160 0h128l160.301 284h-128z" fill="#8c9ea9"/>
            <g fill="#d1d8dc">
              <path d="m0 0h128v284h-128z"/>
              <path d="m160 0h128v284h-128z"/>
            </g>
          </g>
        </svg>
        <span class="db ttu pastel-blue ml2 ml0-m">Matthew<span class="normal">Morek</span></span>
      </a>
    </div>
    <hr class="dn db-m mv2 w2">
    {{#if @blog.navigation}}
      {{navigation}}
    {{/if}}
  </nav>

  {{> "profile"}}
</header>
