<header class="bb b--charcoal mb3">
  <nav class="ml-auto mr-auto mw7 ph3 ph4-ns ph5-m flex justify-between items-center">
    <div>
      <a href="{{@blog.url}}" class="flex items-center no-underline charcoal" data-event="Header: Clicked Logo">
        <svg class="db" viewBox="0 0 512 512" width="48" height="48" xmlns="http://www.w3.org/2000/svg">
          <g fill="none" fill-rule="evenodd" transform="matrix(-1 0 0 1 480 114)">
            <path d="m0 0h128l160.301 284h-128z" fill="#8c9ea9"/>
            <path d="m160 0h128l160.301 284h-128z" fill="#8c9ea9"/>
            <g fill="#d1d8dc">
              <path d="m0 0h128v284h-128z"/>
              <path d="m160 0h128v284h-128z"/>
            </g>
          </g>
        </svg>
        <span class="dn db-ns ttu ml2 pastel-blue">Matthew<span class="normal">Morek</span></span>
      </a>
    </div>
    {{#if @blog.navigation}}
      {{navigation}}
    {{/if}}
  </nav>
</header>
