<ul class="list pa0 mt0 mb2 mv2-l charcoal flex flex-column-m">
  <!-- Loop through the navigation items -->
  {{#foreach navigation}}
    <li class="mr2 mr0-m mv0 mv1-m"><a href="{{url absolute="true"}}" class="db f4-l pv1-l tc-m {{#if current}} active{{/if}}" data-event="Header: Clicked \'{{label}}\'">{{label}}</a></li>
  {{/foreach}}
</ul>
