<ul class="flex list pa0 charcoal">
  <!-- Loop through the navigation items -->
  {{#foreach navigation}}
    <li class="ml3"><a href="{{url absolute="true"}}" class="db f6 b{{#if current}} active{{/if}}" data-event="Header: Clicked \'{{label}}\'">{{label}}</a></li>
  {{/foreach}}
</ul>
