<nav class="ml-auto mr-auto mw7 mt3 mb4 mb5-l ph3 ph4-ns ph5-m flex justify-between" role="navigation">
  {{#if next}}
    <a class="btn-ghost" href="{{page_url next}}">&larr; Older</a>
  {{/if}}
  {{#if prev}}
    <a class="btn-ghost" href="{{page_url prev}}">Newer &rarr;</a>
  {{/if}}
</nav>
