<nav class="mt3 mb4 mb5-l flex justify-between" role="navigation">
  {{#if next}}
    <a class="btn-ghost" href="{{page_url next}}">&larr; Older</a>
  {{/if}}
  {{#if prev}}
    <a class="btn-ghost" href="{{page_url prev}}">Newer &rarr;</a>
  {{/if}}
</nav>
