{{!-- Email subscribe form at the bottom of the page --}}
{{#if @labs.subscribers}}
<section class="bg-alt-white charcoal pv3 pv4-ns pv5-l bt b--light-gray bw2">
  <div class="ml-auto mr-auto mw8 ph4 ph5-m flex-m flex-wrap-m">
    <div class="w-60-m pr4-m pr5-l flex flex-column justify-center">
      <h2>Making your customers happy is hard work. We’re making it easier.</h2>
      <p class="f4 titanium">Get our best product tips and advice delivered straight to your inbox.</p>
    </div>
    <div class="w-40-m flex flex-column justify-center">
      <form id="subForm" class="js-cm-form mv2" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="A61C50BEC994754B1D79C5819EC1255C32205E2F20BCAC2FCB00F4362E574C874957BC9016B328DAB976B190807A9B785A471B7AE006CF96F054DD041DFF5FC7">        
        <div class="mv2">
          <label for="fieldEmail" class="db f7 charcoal mt3 mb1 lh-title">Email address</label>
          <input id="fieldEmail" class="js-cm-email-input input-std" name="cm-sdhhru-sdhhru" type="email" placeholder="jane.doe@domain.com" required> 
        </div>
        <div class="mv2">
          <button class="js-cm-submit-button btn w-100" type="submit" data-event="CTA Subscribe">Yes, send me more product tips</button> 
        </div>
        <p class="f7 titanium tc">No marketing campaigns. No bullshit. Unsubscribe anytime.</p>
      </form>
    </div>
  </div>
  <script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
</section>
{{/if}}
