{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
{{!-- {{#if @blog.cover_image}} style="background-image: url({{@blog.cover_image}})"{{/if}} --}}
<header class="ml-auto mr-auto mw7 ph3 ph4-ns ph5-m mb1 mb2-ns mb3-m mb4-l mt4 mt5-l">
  <h1 class="mv3 mw6 pastel-blue">{{@blog.description}}</h1>
</header>

{{!-- The main content area --}}
<main class="ml-auto mr-auto mw7 ph3 ph4-ns ph5-m">
  {{#foreach posts}}

    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
    {{> "post-card"}}

  {{/foreach}}
</main>

{{pagination}}

{{> "subscribe"}}
